{
    var true, false: int;
    var p, i, isPrime: int;

    true = 1;
    false = 0;
    p = {{ p }};

    isPrime = true;

    if(p < 2) {
        isPrime = false;
    } else {
        for(i = 2; i < p; i += 1) {
            if(p % i == 0) {
                isPrime = false;
                break;
            }
        }
    }
    print isPrime;
}